.ipynb_checkpoints
*.eps
_build

la-palma-visualization.pdf
la-palma-visualization.xml
files/
/article_files
/article.html
/article.pdf
/article.xml
/agujournal2019.cls
/trackchanges.sty

/.luarc.json
